BasedOnStyle: None
BreakBeforeBraces: Allman
IndentWidth: 4
UseTab: Never
ColumnLimit: 0
AllowShortFunctionsOnASingleLine: None
ObjCSpaceAfterProperty: true
ObjCSpaceBeforeProtocolList: true
PointerBindsToType: false
SpacesBeforeTrailingComments: 1
TabWidth: 4
