# EditorConfig is awesome: https://editorconfig.org

# top-most EditorConfig file
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{cpp,cc,cxx,c++}]
indent_style = space
indent_size = 4

[*.{h,hpp,hxx,h++,hh}]
indent_style = space
indent_size = 4

[*.{c,h}]
indent_style = space
indent_size = 4

[CMakeLists.txt]
indent_style = space
indent_size = 2

[*.{yml,yaml}]
indent_style = space
indent_size = 2

[*.{bzl,bazel}]
indent_style = tab
indent_size = 4
